__pycache__
*.sab
*.pyc
toolkit.xml
*_cpp.pm
*_h.pm
*~
show-*.sh

.__splpy/

com.ibm.streamsx.topology/com.ibm.streamsx.topology.file/DirectoryWatcher/*
com.ibm.streamsx.topology/com.ibm.streamsx.topology.file/TextFileReader/*

com.ibm.streamsx.topology/com.ibm.streamsx.topology.functional.java/*/*
com.ibm.streamsx.topology/com.ibm.streamsx.topology.functional.python/Py*/*.pm
com.ibm.streamsx.topology/com.ibm.streamsx.topology.functional.python2/*/*
com.ibm.streamsx.topology/com.ibm.streamsx.topology.functional.python2/pyspltuple*

com.ibm.streamsx.topology/com.ibm.streamsx.topology.testing/TesterSink/*

com.ibm.streamsx.topology/impl/nl/*.dat
com.ibm.streamsx.topology/impl/nl/include/
com.ibm.streamsx.topology/lib/
com.ibm.streamsx.topology/license/

com.ibm.streamsx.topology/opt/icons/

com.ibm.streamsx.topology/opt/python/templates/common/py_pyTupleTosplTuple.cgt
com.ibm.streamsx.topology/opt/python/templates/common/py_splTupleCheckForBlobs.cgt
com.ibm.streamsx.topology/opt/python/templates/common/pyversion2.sh
com.ibm.streamsx.topology/opt/python/templates/common/pyversion3.sh
com.ibm.streamsx.topology/opt/python/templates/common/splpy.pm

java/classes/
java/execute/classes/
java/runtime/classes/

samples/java/functional/classes/
samples/java/functional/functionalsamples.jar

samples/python/com.ibm.streamsx.topology.pysamples/com.ibm.streamsx.topology.pysamples.kwargs/
samples/python/com.ibm.streamsx.topology.pysamples/com.ibm.streamsx.topology.pysamples.mail/
samples/python/com.ibm.streamsx.topology.pysamples/com.ibm.streamsx.topology.pysamples.positional/
samples/python/com.ibm.streamsx.topology.pysamples/com.ibm.streamsx.topology.pysamples.primitives/
samples/python/com.ibm.streamsx.topology.pysamples/com.ibm.streamsx.topology.pysamples.sources/

samples/python/com.ibm.streamsx.topology.pysamples/doc/

samples/python/com.ibm.streamsx.topology.pysamples/impl/

samples/python/com.ibm.streamsx.topology.pysamples/opt/.__splpy/
samples/python/com.ibm.streamsx.topology.pysamples/opt/python/streams/__pycache__/

samples/python/com.ibm.streamsx.topology.pysamples/output/

test/java/classes/
test/java/streamsx.topology.test.jar

test/python/spl/testtk/impl/java/bin/
test/python/spl/testtk/testjava/

test/python/spl/testtkpy/com.ibm.streamsx.topology.pysamples.*/
test/python/spl/testtkpy/com.ibm.streamsx.topology.pytest.pyec/*/
test/python/spl/testtkpy/com.ibm.streamsx.topology.pytest.pykwargs/*/
test/python/spl/testtkpy/com.ibm.streamsx.topology.pytest.pymap/*/
test/python/spl/testtkpy/com.ibm.streamsx.topology.pytest.pyprimitives/*/
test/python/spl/testtkpy/com.ibm.streamsx.topology.pytest.pysource/*/
test/python/spl/testtkpy/com.ibm.streamsx.topology.pytest.pytypes/*/
test/python/spl/testtkpy/com.ibm.streamsx.topology.pytest.pyvers/*/

test/python/spl/testtkpy/impl/

test/python/spl/testtkpy/info.xml

test/python/spl/testtkpy/opt/.__splpy/
test/python/spl/testtkpy/opt/python/streams/spl_*

test/python/spl/testtkpy_pip_op/com.ibm.streamsx.*/
test/python/spl/testtkpy_pip_op/impl/
test/python/spl/testtkpy_pip_op/info.xml

test/python/spl/testtkpy_pip_toolkit/com.ibm.streamsx.*/
test/python/spl/testtkpy_pip_toolkit/impl/
test/python/spl/testtkpy_pip_toolkit/info.xml

test/python/topology/tk*/

test/spl/testtk/impl/
test/spl/testtk/testjava/

/.project
/.pydevproject
