__pycache__
*.sab
*.pyc
toolkit.xml

com.ibm.streamsx.topology/com.ibm.streamsx.topology.file/DirectoryWatcher/*
com.ibm.streamsx.topology/com.ibm.streamsx.topology.file/TextFileReader/*
com.ibm.streamsx.topology/com.ibm.streamsx.topology.functional.java/FunctionAggregate/*
com.ibm.streamsx.topology/com.ibm.streamsx.topology.functional.java/FunctionConvertToSPL/*
com.ibm.streamsx.topology/com.ibm.streamsx.topology.functional.java/FunctionFilter/*
com.ibm.streamsx.topology/com.ibm.streamsx.topology.functional.java/FunctionJoin/*
com.ibm.streamsx.topology/com.ibm.streamsx.topology.functional.java/FunctionMultiTransform/*
com.ibm.streamsx.topology/com.ibm.streamsx.topology.functional.java/FunctionPeriodicSource/*
com.ibm.streamsx.topology/com.ibm.streamsx.topology.functional.java/FunctionSink/*
com.ibm.streamsx.topology/com.ibm.streamsx.topology.functional.java/FunctionSource/*
com.ibm.streamsx.topology/com.ibm.streamsx.topology.functional.java/FunctionSplit/*
com.ibm.streamsx.topology/com.ibm.streamsx.topology.functional.java/FunctionTransform/*
com.ibm.streamsx.topology/com.ibm.streamsx.topology.functional.java/HashAdder/*
com.ibm.streamsx.topology/com.ibm.streamsx.topology.functional.java/HashRemover/*
com.ibm.streamsx.topology/com.ibm.streamsx.topology.functional.java/PassThrough/*
com.ibm.streamsx.topology/com.ibm.streamsx.topology.testing/TesterSink/*
com.ibm.streamsx.topology/com.ibm.streamsx.topology.functional.python/Py*/*.pm
com.ibm.streamsx.topology/impl/nl/*.dat
com.ibm.streamsx.topology/impl/nl/include/
test/python/topology/tk*
samples/python/com.ibm.streamsx.topology.pysamples/com.ibm.streamsx.topology.pysamples.mail/
samples/python/com.ibm.streamsx.topology.pysamples/com.ibm.streamsx.topology.pysamples.positional/
samples/python/com.ibm.streamsx.topology.pysamples/com.ibm.streamsx.topology.pysamples.kwargs/
samples/python/com.ibm.streamsx.topology.pysamples/com.ibm.streamsx.topology.pysamples.sources/
samples/python/com.ibm.streamsx.topology.pysamples/impl/
samples/python/com.ibm.streamsx.topology.pysamples/opt/.__splpy/
samples/python/com.ibm.streamsx.topology.pysamples/opt/python/streams/__pycache__/
samples/python/com.ibm.streamsx.topology.pysamples/output/
samples/python/com.ibm.streamsx.topology.pysamples/doc/
com.ibm.streamsx.topology/lib/
com.ibm.streamsx.topology/license/
com.ibm.streamsx.topology/opt/icons/
java/classes/
samples/java/functional/classes/
samples/java/functional/functionalsamples.jar
/.project
/.pydevproject
