__pycache__
*.sab
*.pyc
toolkit.xml
*_cpp.pm
*_h.pm

com.ibm.streamsx.topology/com.ibm.streamsx.topology.file/DirectoryWatcher/*
com.ibm.streamsx.topology/com.ibm.streamsx.topology.file/TextFileReader/*
com.ibm.streamsx.topology/com.ibm.streamsx.topology.functional.java/FunctionAggregate/*
com.ibm.streamsx.topology/com.ibm.streamsx.topology.functional.java/FunctionConvertToSPL/*
com.ibm.streamsx.topology/com.ibm.streamsx.topology.functional.java/FunctionFilter/*
com.ibm.streamsx.topology/com.ibm.streamsx.topology.functional.java/FunctionJoin/*
com.ibm.streamsx.topology/com.ibm.streamsx.topology.functional.java/FunctionMultiTransform/*
com.ibm.streamsx.topology/com.ibm.streamsx.topology.functional.java/FunctionPeriodicSource/*
com.ibm.streamsx.topology/com.ibm.streamsx.topology.functional.java/FunctionSink/*
com.ibm.streamsx.topology/com.ibm.streamsx.topology.functional.java/FunctionSource/*
com.ibm.streamsx.topology/com.ibm.streamsx.topology.functional.java/FunctionSplit/*
com.ibm.streamsx.topology/com.ibm.streamsx.topology.functional.java/FunctionTransform/*
com.ibm.streamsx.topology/com.ibm.streamsx.topology.functional.java/HashAdder/*
com.ibm.streamsx.topology/com.ibm.streamsx.topology.functional.java/HashRemover/*
com.ibm.streamsx.topology/com.ibm.streamsx.topology.functional.java/PassThrough/*

com.ibm.streamsx.topology/com.ibm.streamsx.topology.functional.python2/FlatMap
com.ibm.streamsx.topology/com.ibm.streamsx.topology.functional.python2/ForEach
com.ibm.streamsx.topology/com.ibm.streamsx.topology.functional.python2/HashAdder
com.ibm.streamsx.topology/com.ibm.streamsx.topology.functional.python2/Map
com.ibm.streamsx.topology/com.ibm.streamsx.topology.functional.python2/Source

com.ibm.streamsx.topology/com.ibm.streamsx.topology.testing/TesterSink/*
com.ibm.streamsx.topology/com.ibm.streamsx.topology.functional.python/Py*/*.pm
com.ibm.streamsx.topology/impl/nl/*.dat
com.ibm.streamsx.topology/impl/nl/include/
test/python/topology/tk*

com.ibm.streamsx.topology/lib/
com.ibm.streamsx.topology/license/
com.ibm.streamsx.topology/opt/icons/
java/classes/
java/execute/classes/
java/runtime/classes/
samples/java/functional/classes/
samples/java/functional/functionalsamples.jar
/.project
/.pydevproject

# Ignore IntelliJ files.
.idea/
*.iml
*.ipr
*.iws
