namespace test_tk_3.test1 ;

// ************************************************************************
// * Namespace is required
// ************************************************************************

public int32 f3() { return 0;}
