<?xml version="1.0" encoding="UTF-8"?>
<toolkitInfoModel
  xmlns="http://www.ibm.com/xmlns/prod/streams/spl/toolkitInfo"
  xmlns:common="http://www.ibm.com/xmlns/prod/streams/spl/common">
  <identity>
    <name>com.example.games</name>
    <description>Toolkit that depends on bingo and cards.</description>
    <version>1.0.0</version>
    <requiredProductVersion>4.2</requiredProductVersion>
  </identity>
  <dependencies>
    <toolkit>
      <common:name>com.example.bingo</common:name>
      <common:version>[1.0.0,2.0.0)</common:version>
    </toolkit>
    <toolkit>
      <common:name>com.example.cards</common:name>
      <common:version>[1.0.0,1.1.0)</common:version>
    </toolkit>
  </dependencies>
</toolkitInfoModel>
