namespace test_tk_2.test1 ;

// ************************************************************************
// * Namespace is required
// ************************************************************************

public int32 f2() { return 0;}
